<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>処置履歴</title>
</head>
<body>
<form action="{% url 'kadai:treatment_history' %}" method="post">
    {% csrf_token %}
        <div class = "employee_form_top">
            <h1>履歴を確認したい患者idを入力してください</h1>
        </div>

        <div class="employee_form_btm">
            <input type="text" name="pat_id" placeholder="患者IDを入力してください"><br>
        </div>
        <button type="submit">検索</button>

</form>
{% if error_message %}
    <p style="color: red;">{{ error_message }}</p>
{% endif %}
</body>
</html>