<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/login.css">
    <title>受付TOP</title>
</head>
<body>
    <h1>管理者TOP画面</h1>
   <div class="function">
    <p><a href="employee">従業員登録機能</a></p>
    <p><a href="hospitalList">他病院情報一覧</a></p>
    <p><a href="{% url 'kadai:emppass' %}">従業員パスワード変更</a></p>
    <p><a href="{% url 'kadai:logout' %}">ログアウト</a></p>
   </div>
    
</body>
</html>