<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>情報変更</title>
</head>
<body>
<form action="{% url 'kadai:patient_ch' %}" method="post">
        {% csrf_token %}
        <div class = "employee_form_top">
            <h1>患者情報変更</h1>
            <p>保険証記号を変更する場合は有効期限も確認してください</p>
        </div>

        <div class="employee_form_btm">
            <p>患者id:{{ patient.patid }}</p>
            <p>患者姓：{{ patient.patfname }}</p>
            <p>患者名：{{ patient.patlname }}</p>
            <input type="text" name="icn" value={{ patient.hokenmei }}><br>
            <input type="date" name="date" value={{ patient.hokenexp|date:"Y-m-d" }}>
        </div>
          <button type="submit">変更</button>

</form>
        {% if error_message %}
            <p style="color: red;">{{ error_message }}</p>
        {% endif %}
</body>
</html>