<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/login.css">
    <title>受付TOP</title>
</head>
<body>
    <h1>受付TOP画面</h1>
   <div class="function">
    <p><a href="{% url 'kadai:emppass' %}">パスワード変更機能</a></p>
    <p><a href="{% url 'kadai:patiReg' %}">患者登録機能</a></p>
    <p><a href="{% url 'kadai:patich' %}">患者管理機能</a></p>
    <p><a href="{% url 'kadai:patsc' %}">患者検索</a></p>
    <p><a href="">ログアウト</a></p>
   </div>
    
</body>
</html>